<!-- 门店表单 -->
<form (ngSubmit)="onResigerShop()" #f="ngForm" novalidate>
  <div class="" *ngFor="let shop of shopList,let i = index;">
    <!-- 门店表单字段 -->
    <div class="c-form c-modify-store">
      <h5>
        <span class="title-underline">基础信息</span>
      </h5>
      <div class="g-field">
        <label for="store_name" class="g-label">门店名称</label>
        <div class="g-ipt" [class.warnBorder]="shop.showTip.name">
          <input type="text" required [ngModelOptions]="{standalone: true}" placeholder="必填项" maxlength="200" [ngModel]="shop.name" (ngModelChange)="onShopNameSet($event, shop)" (blur)="onShopNameBlur(shop)" (focus)="onShopNameFocus(shop)" #name="ngModel" class="g-402">
          <a *ngIf="!id" class="g-addico" (click)="onAddShop(i,shop)">
            <i></i>
            <span>添加</span>
          </a>
          <!-- <a href="javascript:void(0);" class="add-store" (click)="onAddShop(i,shop)" *ngIf="!id" >新增门店</a> -->
        </div>
        <div class="msg">
          <span class="text-error" *ngIf="!name.valid && !name.pristine">
            <span class="warning" *ngIf="name.errors?.required">门店名称不能为空</span>
          </span>
        </div>
      </div>
      <div class="g-field">
        <label for="store_name" class="g-label">门店地址</label>
        <div class="g-sel g-addr">
          <select class="g-195" [class.warnBorder]="shop.showTip.provinceId" required [ngModelOptions]="{standalone: true}" #provinceId="ngModel" [ngModel]="shop.provinceId" (ngModelChange)="onChangeProvince($event,shop)">
            <option value="undefined">请选择省市</option>
            <option [value]="plist.id" *ngFor="let plist of provinceList">{{plist.name}}</option>
          </select>
          <select class="g-195" [class.warnBorder]="shop.showTip.cityId" required [ngModelOptions]="{standalone: true}" #cityId="ngModel" [ngModel]="shop.cityId" (ngModelChange)="onChangeCity($event,shop)">
            <option value="undefined">请选择城市</option>
            <option [value]="clist.id" *ngFor="let clist of shop.cityList">{{clist.name}}</option>
          </select>
          <div class="g-f-tip">
            <span>必填项</span>
          </div>
          
        </div>
      </div>
      <div class="g-field" >
        <label for="store_name" required class="g-label" maxlength="200" placeholder="详细地址"></label>
        <div class="g-ipt" [class.warnBorder]="shop.showTip.address">
          <input type="text" [ngModelOptions]="{standalone: true}" placeholder="必填项" required [ngModel]="shop.address" (ngModelChange)="onShopAddressSet($event, shop)"  (blur)="onShopAddressBlur(shop)" (focus)="onShopAddressFocus(shop)" maxlength="200" #address="ngModel" class="g-402">
        </div>
        
        <div class="g-f-tip">
            <span>与周边门店的服务数据进行对比</span>
        </div>
        
        <div class="msg">
          <span class="text-error" *ngIf="!provinceId.valid && !provinceId.pristine">
            <span class="warning" *ngIf="provinceId.errors?.required">省市不能为空</span>
          </span>
          <span class="text-error" *ngIf="!cityId.valid && !cityId.pristine">
            <span class="warning" *ngIf="cityId.errors?.required">城市不能为空</span>
          </span>
          <span class="text-error" *ngIf="!address.valid && !address.pristine">
            <span class="warning" *ngIf="address.errors?.required">详细地址不能为空</span>
            <span class="warning" *ngIf="address.errors?.maxlength">详细地址不能超过200字符</span>
          </span>
        </div>
      </div>
      <div class="g-field fs14">
        <label for="store_server" class="g-label">服务类型</label>
        <div class="g-ipt g-wml g-checkbox-group">
          <!--<md-checkbox *ngFor="let sl of shop.sList, let j = index" [checked]="sl.checked" (change)="sl.checked = $event.checked">{{sl.name}}</md-checkbox>-->
          <label class="g-cbk"  *ngFor="let sl of shop.sList, let j = index" [class.active]="sl.checked">
              <input type="checkbox" [ngModelOptions]="{standalone: true}" [ngModel]="sl.checked" (ngModelChange)="selectServerType(shop, sl, $event)">
              {{sl.name}}
          </label>
        </div>
        
        <div class="g-f-tip">
            <span>与相同类型门店的服务数据进行对比</span>
        </div>
        <div class="g-f-serve-err warning" *ngIf="shop.showTip.serverType">
            服务类型不能为空
        </div>
      </div>
        
      <h5>
        <span class="title-underline">详细信息</span>
        <i class="arrow-up" (click)="onToggleDetail()" [class.down]="!showDetail"></i>
      </h5>
      <div *ngIf="showDetail">
        <div class="g-field">
          <label for="store_director" class="g-label">负责人</label>
          <div class="g-ipt" [class.error]="!ownerName?.valid && !ownerName?.pristine">
            <input type="text" maxlength="50" [ngModelOptions]="{standalone: true}" #ownerName="ngModel" [(ngModel)]="shop.ownerName" class="g-197">
            
            <div class="g-f-tip g-f-tip-extra">
              <span >您提供的门店信息越是完整,平台将更精确的匹配与您相同规模门店,进行服务数据进行对比</span>
            </div>
          </div>
          <div class="msg">
            <span class="text-error" *ngIf="!ownerName.valid && !ownerName.pristine">
              <span class="warning" *ngIf="ownerName.errors?.maxlength">门店名称不能为空</span>
            </span>
          </div>
        </div>
        <div class="g-field">
          <label for="store_tel" class="g-label">联系方式</label>
          <div class="g-ipt" [class.error]="!phone?.valid && !phone?.pristine">
            <input type="text" id="store_tel" class="g-197" #phone="ngModel" [ngModelOptions]="{standalone: true}" #phone="ngModel" [(ngModel)]="shop.phone" maxlength="50">
          </div>
          <div class="msg">
            <span class="text-error" *ngIf="!phone.valid && !phone.pristine">
              <span class="warning" *ngIf="phone.errors?.pattern">请输入正确的联系方式</span>
            </span>
          </div>
        </div>
        <div class="g-field">
          <label for="store_year" class="g-label">开店年份</label>
          <div class="g-sel">
            <select id="store_year" [ngModelOptions]="{standalone: true}" [(ngModel)]="shop.openingDate" class="g-197">
              <option value="undefined">请选择开店年份</option>
              <option [value]="y" *ngFor="let y of YEARS_16">{{y}}</option>
              <option value="1999">1999年以前</option>
            </select>
          </div>
        </div>
        <div class="g-field g-f-area">
          <label for="store_area" class="g-label">门店面积</label>
          <div class="g-ipt" [class.warnBorder]="!shop.showTip.area">
            <input type="text" maxlength="9" [ngModelOptions]="{standalone: true}" #area="ngModel" [ngModel]="shop.area" (ngModelChange)="onStoreAreaChange(shop, $event)" class="g-197" (blur)="onStoreAreaBlur(shop)" (focus)="onStoreAreaFocus(shop)"  >
            <span class="g-unit">m<i>2</i>
            </span>
          </div>
          <div class="g-f-tip" *ngIf="!shop.showTip.area"> 
            <span class="warning" >门店面积区间1~999999999的数字</span>
          </div>
        </div>
        <div class="g-field">
          <label for="store_park" class="g-label">汽修工位</label>
          <div class="g-sel">
            <select id="store_park" class="g-197" [ngModelOptions]="{standalone: true}" [(ngModel)]="shop.station">
              <option value="undefined">请选择汽修工位</option>
              <option [value]="s" *ngFor="let s of STATION_30">{{s}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="g-field border-bottom-underline h36">
        <a href="javascript:void(0);" class="del-store" *ngIf="shopList.length>1" (click)="onDelhop(i)">删除该门店</a>
      </div>
    </div>
  </div>
  <!-- 门店表单字段 end -->
  <!-- 门店表单按钮  -->
  <div class="sf-btns">
    <button class="g-btn g-btn-green" type="submit" [disabled]="!formValid||loading">保存</button>
    <button class="g-btn g-btn-gray" type="button" *ngIf="id" (click)="onExit()">取消</button>
    <button class="g-btn g-btn-red" type="button" *ngIf="id && !isCurrentStore" (click)="onOpenDelWin()">删除门店</button>
  </div>
  <!-- 门店表单按钮 end -->
</form>
<!-- 门店表单 end -->
<!-- 删除弹出层 -->
<!--<div class="fwin del-win employee-del-win show" [class.show]="showDelWin">
  <div class="fwin-mask">
    <div class="fwin-box">
      <div class="fwin-close" (click)="onCancel()"></div>
      <div class="fwin-content">
        <div>
          <h1 class="text-error">确定删除该门店?</h1>
          <div>
            该门店所有顾客,员工,服务等信息都将一并删除
          </div>
          <form #sForm="ngForm">
            <div class="register-input text-default">
              {{defaultPhone}}
            </div>
            <div class="register-input" [class.error]="!rnd?.valid && !rnd?.pristine">
              <input type="" class="w180 dib" #rnd="ngModel" [(ngModel)]="user.rnd" maxlength="4" name="rnd" required placeholder="请输入右侧图形校验码">
              <img [src]="img" class="dib link ml10" alt="验证码" (click)="onChangeCode()">
              <a class="dib link ml10" (click)="onChangeCode()">换一张</a>
              <div class="msg">
                <span class="text-error" *ngIf="!rnd?.valid">请输入右侧图形校验码</span>
              </div>
            </div>
            <div class="register-input w300" [class.error]="!code?.valid && !code?.pristine">
              <input type="text" class="inner-group" #code="ngModel" [(ngModel)]="user.code" maxlength="10" name="code" required placeholder="请输入短信验证码">
              <a class="inner-btn" [class.disabled]="seekDisabeld||!rnd?.valid" (click)="onSeekPhone(defaultPhone,user.rnd)">{{seekBtnTitle}}</a>
              <div class="msg">
                <span class="text-error" *ngIf="!code?.valid">验证码错误</span>
                <span class="text-error" *ngIf="errorPhoneCode">{{errorPhoneCode}}</span>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="fwin-btns g-btns">
        <div class="g-btn g-btn-green" (click)="onDel()">删除</div>
        <div class="g-btn g-btn-gray" (click)="onCancel()">取消</div>
      </div>
    </div>
  </div>
</div>-->
<!-- 删除弹出层 end -->

<!-- 弹出层 -->
    <div class="fwin store-del-win" [class.show]="showDelWin">
      <div class="fwin-mask">
        <div class="fwin-box">
          <div class="fwin-close" (click)="onCancel()"></div>
          <div class="fwin-content">
            <div>
              <h1>确定删除该门店？</h1>
              <div>
                该门店所有顾客、员工、生意等信息都将一并被删除 <br>
                {{defaultPhone}} <span class="g-btn g-btn-green" [class.disabled]="seekDisabeld" (click)="onSeekPhone()">{{seekBtnTitle}}</span>
                <div class="g-field" [class.warnBorder]="user.codeNull || user.codeErr">
                  <input type="text" placeholder="请输入收到的手机验证码" [(ngModel)]="user.code" maxlength="4" (blur)="onDelCodeBlur()" (focus)="onDelCodeFocus()">
                  <div class="g-code-tip warning" *ngIf="user.codeNull || user.codeErr">
                    <span *ngIf="user.codeNull">{{user.codeNull}}</span>
                    <span *ngIf="user.codeErr">{{user.codeErr}}</span>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="fwin-btns g-btns">
            <div class="g-btn g-btn-green" (click)="onDelStore()">确认删除</div>
            <div class="g-btn g-btn-gray" (click)="onCancelDelStore()">取消</div>
          </div>
        </div>
      </div>
    </div>
    <!-- 弹出层 end -->
