<div class="forgetPwd">
    <main-logo></main-logo>
    <form (ngSubmit)="onCheckPhone()" #fpForm="ngForm" *ngIf="next === null ? false : next===1" novalidate>
        <div class="forgetPwd-block">
            <h2 class="forgetPwd-title">找回密码<a routerLink="/register" routerLinkActive="active" class="forgetPwd-register-link fr">注册新账户</a>
      </h2>
            <div class="forgetPwd-input" [class.error]="!phone?.valid && phone?.blur||errorMsg==='该手机号尚未注册，请更换手机号或者前往注册'">
                <input type="text" name="phone" #phone="ngModel" [(ngModel)]="fp.phone" (keyup)="onInitError()" (blur)="blur(phone,$event)" (focus)="blur(phone,$event)" required pattern="^(13[0-9]|15[012356789]|17[0135678]|18[0-9]|14[57])[0-9]{8}$" placeholder="请输入您的手机号码">
                <div class="msg">
                    <span class="text-error" *ngIf="errorMsg==='该手机号尚未注册，请更换手机号或者前往注册'">
                      该手机号尚未注册，请更换手机号或者前往注册
                    </span>
                    <span class="text-error">
                        <span *ngIf="phone?.errors?.required">手机号码不能为空</span>
                    <span *ngIf="phone?.errors?.pattern">请输入正确的手机号码</span>
                    </span>
                </div>
            </div>
            <div class="forgetPwd-input" [class.error]="!rnd?.valid && rnd?.blur||errorMsg==='校验码错误，请重新输入'||errorMsg==='图形验证码不存在'||errorMsg==='验证码错误'">
                <input type="" class="w180 dib" maxlength="4" #rnd="ngModel" [(ngModel)]="fp.rnd" (keyup)="onInitError()" (keyup)="chkRnd($event.target.value)" (blur)="blur(rnd,$event)" (focus)="blur(rnd,$event)" name="rnd" required placeholder="请输入右侧图形验证码">
                <img *ngIf="img" [src]="img" class="dib link ml10" alt="验证码" (click)="onChangeCodeImg()">
                <a class="dib link ml10" (click)="onChangeCodeImg()">换一张</a>
                <div class="msg">
                    <span class="text-error" *ngIf="errorMsg==='校验码错误，请重新输入'||errorMsg==='验证码错误'">
                        校验码错误，请重新输入
                    </span>
                    <span class="text-error" *ngIf="errorMsg==='图形验证码不存在'">
                        校验码已失效,请更换
                    </span>
                    <span class="text-error" *ngIf="!errorMsg&&rnd?.errors?.required">请输入右侧图形校验码</span>
                </div>
            </div>
            <div class="forgetPwd-input" [class.error]="!code?.valid && code?.blur||errorMsg==='手机验证码不正确'||errorMsg==='您今天的短信发送已达到3次上限'||errorMsg==='您离开的时间太长，请重新操作'">
                <input type="text" class="inner-group" maxlength="10" #code="ngModel" [(ngModel)]="fp.code" (keyup)="onInitError()" (blur)="blur(code,$event)" (focus)="blur(code,$event)" name="code" required placeholder="请输入短信验证码">
                <a class="inner-btn" [class.disabled]="isCode||seekDisabeld||!phone?.valid||!rnd?.valid||errorPhoneCode==='您今天的短信发送已达到3次上限'" (click)="!(isCode||seekDisabeld||!phone?.valid||!rnd?.valid||errorPhoneCode==='您今天的短信发送已达到3次上限')&&onSeekPhone(fp.phone,fp.rnd)">{{seekBtnTitle}}</a>
                <div class="msg">
                    <span class="text-error" *ngIf="errorMsg==='手机验证码不正确'">
                        短信验证码错误，请重新输入
                    </span>
                    <span class="text-error" *ngIf="errorMsg==='您今天的短信发送已达到3次上限'">
                        您今天的短信发送已达到3次上限
                    </span>
                    <span class="text-error" *ngIf="errorMsg==='您离开的时间太长，请重新操作'">
                        手机验证码已失效,请更换
                    </span>
                    <span class="text-error" *ngIf="!errorMsg&&code?.errors?.required">校验码不能为空</span>
                </div>
            </div>
            <button type="submit" class="forgetPwd-btn-submit" [disabled]="!fpForm.valid">下一步</button>
            <!--<button type="button" class="forgetPwd-btn-submit" (click)="next=2">下一步</button>-->
            <a routerLink="/login-min" routerLinkActive="active" class="forgetPwd-register-link">又想起来了</a>
            <i></i>
        </div>
    </form>
    <form (ngSubmit)="onEditPwd()" #newPwdForm="ngForm" *ngIf="next === null ? false : next===2">
        <div class="forgetPwd-block animated" [class.zoomOutRight]="0">
            <h2 class="forgetPwd-title">设置新密码</h2>
            <div class="forgetPwd-input" [class.error]="!pwd?.valid && pwd?.blur">
                <input type="password" placeholder="请设置您的密码(6-16位长度)" #pwd="ngModel" [(ngModel)]="fp.pwd" (keyup)="onInitError()" (blur)="blur(pwd,$event)" (focus)="blur(pwd,$event)" name="pwd" minlength="6" maxlength="16" required>
                <div class="msg">
                    <span class="text-error">
            <span *ngIf="pwd?.errors?.required">密码不能为空</span>
                    <span *ngIf="pwd?.errors?.minlength">请输入由6~16位的英文字母、数字或字符组成的密码</span>
                    <span *ngIf="pwd?.errors?.maxlength">请输入由6~16位的英文字母、数字或字符组成的密码</span>
                    </span>
                </div>
            </div>
            <div class="forgetPwd-input" [class.error]="!checkPwd?.valid && checkPwd?.blur||diff">
                <input type="password" placeholder="请确认您的密码(6-16位长度)" #checkPwd="ngModel" [(ngModel)]="fp.checkPwd" (keyup)="onInitError()" (blur)="blur(checkPwd,$event)" (focus)="blur(checkPwd,$event)" name="checkPwd" minlength="6" maxlength="16" required>
                <div class="msg">
                    <span class="text-error">
            <span *ngIf="checkPwd?.errors?.required">确认密码不能为空</span>
                    <span *ngIf="checkPwd?.errors?.minlength">请输入由6~16位的英文字母、数字或字符组成的密码</span>
                    <span *ngIf="checkPwd?.errors?.maxlength">请输入由6~16位的英文字母、数字或字符组成的密码</span>
                    </span>
                    <span class="text-error" *ngIf="diff">
            两次密码输入不一致
          </span>
                </div>
            </div>
            <button type="submit" class="forgetPwd-btn-submit" [disabled]="!newPwdForm.valid||loading">确认提交</button>
            <!--<button type="button" class="forgetPwd-btn-submit" (click)="next=1">下一步</button>-->
            <i></i>
        </div>
    </form>
    <page-footer cls="white"></page-footer>
</div>
<!-- 弹出层 -->
<div class="fwin del-win employee-del-win" [class.show]="openProtocol">
    <div class="fwin-mask">
        <div class="fwin-box">
            <div class="fwin-close" (click)="onClose()"></div>
            <div class="fwin-content">
                <div>
                    <div style="font-size: 18px;text-align: center;margin-top: 40px;">
                        {{errorMsg}}
                    </div>
                </div>
            </div>
            <div class="fwin-btns g-btns">
                <div class="g-btn g-btn-green" (click)="onClose()">确认</div>
                <div class="g-btn g-btn-gray" (click)="onClose()">取消</div>
            </div>
        </div>
    </div>
</div>
<!-- 弹出层 end -->